<div>
<!-- <div *ngIf="isPopupOpen"> -->



  <!-- Modal Main -->
  <div class="modal-header">
    <h4 class="modal-title">Hi there!</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Hello, World!</p>
    <div>
      <button class="btn btn-sm btn-outline-danger" (click)="open()">Eligibility Check</button>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" ngbAutofocus (click)="activeModal.close('Close click')">Close</button>
    <button type="button" ngbAutofocus class="btn btn-danger"
      (click)="activeModal.close('Ok click')">Ok</button>
  </div>
</div>
<!-- </div> -->

<!-- <app-stacked-modal></app-stacked-modal> -->
<!-- <router-outlet></router-outlet> -->